MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=请修改为你的密码
MYSQL_DATABASE=ginadmin

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=请修改为随机字符串
JWT_EXPIRE_HOURS=24

SERVER_PORT=8000
